.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 20px;
}

.searchInput {
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(38, 19, 49);
  border: 1px solid rgb(38, 19, 49);
  font-size: 18px;
}

.searchFormButton {
  display: flex;
  justify-content: center;
  background-color: rgb(38, 19, 49);
  color: white;
  border-radius: 20px;
}

.searchFormButton:hover {
  border: 1px solid rgb(38, 19, 49);
  color: rgb(38, 19, 49);
  background-color: white;
}
